/********MOBILE FIRST********/
/* ---TABLE OF CONTENTS---
	- globals
	- flex containers
	- top page items
	- main items
*/


/*beg of globals*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}
/*end of globals*/



/*beg of flex containers*/
.flex-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/*end of flex containers*/



/* beg of top page items*/
#top-hint {
	text-align: center;
	font-weight: bold;
	font-family: Roboto;
	font-size: 14px;
	color: white;
	background: darkgreen;
	width: 100vw;
	height: 20vw;
	padding: 15px;
}

#nav-bar {
	height: 70px;
	width: 100vw;
	background: white;
}

.nav > * {
	height: 40%;
	width: auto;
}

.space-filler {
	height: 100%;
	width: 10%;
}

#shopping-bag {
	width: 30px;
	height: 30px;
	background: url("http://icons.iconarchive.com/icons/icons8/ios7/256/Ecommerce-Shopping-Bag-icon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#cart-count {
	position: relative;
	width: 13px;
	height: 13px;
	margin: 50% auto;
	font-family: Arial;
	font-size: 13px;
	text-align: center;
}
/* end of top page items*/



/*beg of main items*/
.main-content {
	width: 100vw;
	height: 120vw;
	background: url("https://www.feedprojects.com/sites/default/files/banner/mobile/Monogram-shop_m.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
}

#product-intro {
	width: 100vw;
	height: 100px;
	margin: 45px auto;
	font-size: 28px;
	font-family: "Meddon", cursive;
	text-align: center;
}

.model-image {
	width: 100vw;
	height: 200px;
	background: url("https://www.feedprojects.com/sites/default/files/styles/larger/public/home/T1_Field%20Messenger.jpg?itok=YgJXgk_i");
	background-repeat: no-repeat;
	background-size: cover;
}

.product-image {
	width: 100vw;
	height: 300px;
	background: url("https://www.feedprojects.com/sites/default/files/styles/product_listing/public/products/listing/Army-green_alt-monogram_1.jpg?itok=HrGFkSGQ");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 20px 0;
}

.product-description {
	width: 100vw;
	height: 100px;
}

.product-description > * {
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-bottom: 10px;
}

.donation-description {
	font-size: 13px;
	font-weight: bold;
}
/*end of main items*/

/*@media only screen and (min-width: 360px) {

}*/